body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
}

.register-header {
  background: url('Image/register.jpg') center/cover no-repeat;
  height: 60vh;
}

form {
  background: #111;
  border: 1px solid #333;
}

.form-control, .form-select {
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
}

.form-control:focus, .form-select:focus {
  background: url('Image/register.jpg') center/cover no-repeat;
  height: 60vh;
}

.btn-warning {
  font-weight: 600;
}

.modal-content {
  border-radius: 10px;
}
